.result-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

/* Zeilen einbauen wie bei pwned statt einzelne Blöcke */
.result-window {
  background-color: #f4f4f4;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.result-details p {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.95rem;
  color: #444;
}

.result-details i {
  color: #999;
}


.fa-xmark{
    color: red;
}

.fa-solid{
   font-size: 23px;
}

.fa-check{
    color: green;
}