.result-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 20px;
    width: fit-content;
    justify-self: center;
    margin-top: 10px;
}

@media (max-width: 1100px){
    .result-container{
        grid-template-columns: 1fr 1fr; 
        zoom: 90%;
    }  
}

/* Zeilen einbauen wie bei pwned statt einzelne Blöcke */
.result-window{
    border-radius: 10px;
    max-width: 200px;
    min-width: 100px;
    height: 200px;
    /* Muss noch bearbeitet werden */
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    gap: 10px;
    .result-details{
        display: grid;
        grid-template-columns: 1fr 1fr;
     p{
        display: flex;
        align-items: center;
        gap: 5px;
    }   
    }
    
}

.fa-xmark{
    color: red;
}

.fa-solid{
   font-size: 23px;
}

.fa-check{
    color: green;
}