.result-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.result-window{
    border-radius: 10px;
    max-width: 300px;
    min-width: 100px;
    /* Muss noch bearbeitet werden */
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    gap: 10px;
    .result-details{
        display: grid;
        grid-template-columns: 1fr 1fr;
     p{
        display: flex;
        align-items: center;
        gap: 5px;
    }   
    }
    
}

.fa-xmark{
    color: red;
}

.fa-solid{
   font-size: 23px;
}

.fa-check{
    color: green;
}