@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-size: 100%;
}

/* @media (max-width: 1100px){
  *{
  font-size: 95%;
  }
} */

html,
body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-top: 10px;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
